<!doctype html>
<html>
<head>
	<title>profile</title>
	<link href="sidebar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div>
	<header>Paritosh B.</header>
		<img src="Profile.jpg">
		<section><p>Paritosh works as a back-end developer. He likes to learn new stuff and constantly tries to improve his skills.</p>
		<p> 
		During his spare time, he likes to read philosophical books, play guitar and travel.
		Recently, he has passed his driving test and want to travel in his new car.</p>
		<p>Paritosh is certain that after graduation from MD, he would be confident on taking up front-end tasks.</p></section>
	</div>
</body>
</html>