<html>
<head>
<link rel="stylesheet" src="text/css" href="shopping.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300italic,500,100italic,300,400italic,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
</head>
<body>
<div class="mainHeader">Products</div><br>
<div class="row">
	<div class="container">
		<div class="form">
		Place holder
		</div>
		<div class="text">Item 1</div>
		<div class="text font-smaller">$12.99</div>
		<div class="text">
			<input type="text"/>
			<span class="padding-top-10 material-icons">add_shopping_cart</span>
		</div>
	</div>

		<div class="container">
		<div class="form">
		Place holder
		</div>
		<div class="text">Item 1</div>
		<div class="text font-smaller">$12.99</div>
		<div class="text">
			<input type="text"/>
			<span class="padding-top-10 material-icons">add_shopping_cart</span>
		</div>
	</div>

		<div class="container">
		<div class="form">
		Place holder
		</div>
		<div class="text">Item 1</div>
		<div class="text font-smaller">$12.99</div>
		<div class="text">
			<input type="text"/>
			<span class="padding-top-10 material-icons">add_shopping_cart</span>
		</div>
	</div>

		<div class="container">
		<div class="form">
		Place holder
		</div>
		<div class="text">Item 1</div>
		<div class="text font-smaller">$12.99</div>
		<div class="text">
			<input type="text"/>
			<span class="padding-top-10 material-icons">add_shopping_cart</span>
		</div>
	</div>

		<div class="container">
		<div class="form">
		Place holder
		</div>
		<div class="text">Item 1</div>
		<div class="text font-smaller">$12.99</div>
		<div class="text">
			<input type="text"/>
			<span class="padding-top-10 material-icons">add_shopping_cart</span>
		</div>
	</div>

		<div class="container">
		<div class="form">
		Place holder
		</div>
		<div class="text">Item 1</div>
		<div class="text font-smaller">$12.99</div>
		<div class="text">
			<input type="text"/>
			<span class="padding-top-10 material-icons">add_shopping_cart</span>
		</div>
	</div>

		<div class="container">
		<div class="form">
		Place holder
		</div>
		<div class="text">Item 1</div>
		<div class="text font-smaller">$12.99</div>
		<div class="text">
			<input type="text"/>
			<span class="padding-top-10 material-icons">add_shopping_cart</span>
		</div>
	</div>

		<div class="container">
			<div class="form">
			Place holder
			</div>
			<div class="text">Item 1</div>
			<div class="text font-smaller">$12.99</div>
			<div class="text">
				<input type="text"/>
				<span class="padding-top-10 material-icons">add_shopping_cart</span>
			</div>
		</div>

		
</div>

			<div class="clear-left">
				<span>Promo Code</span><br>
				<input type="text" class="submit">
				<button type="submit">Claim </button>
				<button type="submit">Checkout </button>
			</div>
</body>
</html>