label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.width-50 {
  width: 175px;
  box-sizing: border-box;
}

.margin-10 {
  margin-left: 10px;
}

.row {
  max-width: 100%;
}

.container {
  border: 1px solid black;
  max-width: 200px;
  height: 270px;
  float: left;
  margin: 5px;
}

.submit {
  width: 80px;
  height: 20px;
}
.padding-top-10 {
  padding-top: 10px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.text {
  padding-left: 30px;
  padding-top: 2px;


}

.font-smaller {
  font-size: 12px;
}


.form {
  position: relative;
  background: #FFFFFF;
  max-width: 150px;
  height: 150px;
  margin: 20px 20px 10px 20px;
  padding: 30px 30px 30px 30px;
  text-align: center;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
}

.mainHeader {
  color: white;
  border: 1px solid white;
  font-size: 30px;
  padding: 2px;
  text-align: center;
}

button {
  width: 120px;
  height: 30px;
  background-color: orange;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(118, 184, 82,.94);
  text-transform: uppercase;
  color: white;
}

.clear-left {
  clear: left;
}

.header {
text-transform: capitalize;
font-weight: bold;
text-align: center;
font-size: large;
}

input {
  height:20px;
  background: #eee7e7;
  width: 20px;
  border: 0;
  font-size: 14px;
}

body {
   background-color: #76b852;
   font-family: cursive;
}

button:hover {
  background-color: yellow;
  cursor: pointer;
  color: black;
}
