<html>
<head>
	<link rel="stylesheet" src="text/css" href="questionaire.css"/>
</head>
<body>
	<div class="main">
		<label> What is your favourite Ice Cream Flavour?</label>
		<div>
			<input type="radio" name="vn" checked class="radio"> Vanilla</input>
		<div>
		</div>
		<div>
			<input type="radio" name="vn" class="radio"> Strawberry</input>
		</div>
		<div>
			<input type="radio" name="vn"> Pista</input>
		</div>
		<div>
			<input type="radio" name="vn"> Chocolate</input>
		</div>
		<div>
			<input type="radio" name="vn"> Caramel</input>
		</div>
		<div>
			<input type="radio" name="vn"> Coconut</input>
		</div>
		<div>
			<input type="text" placeholder="Enter additional value"/>
		<div>
		<div>
			<button type="submit">Search</input>
	</div>
</body>
</html>