<html>
<head>
	<title>Shipping & Billing</title>
	<link href="sb.css" src="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="container">
	<div class="mainHeader"><label>Shipping & Billing</label></div><br>
	<div  class="col">
		<div class="header margin-bottom-25"><label>Shipping</label><hr></div><br>
		<div class="col1"><label>First Name</label></div>
		<div class="col1"><label>Last Name</label></div><br>
		<input type="text" name="first-name" class="col1">
		<input type="text" name="last-name" class="col1"><br><br>
		<label class="col1">Street Address</label>
	 	<input type="text" name="street" class="full"><br>
	 	<label class="col1">City</label>
		<input type="text" name="city" class="full"><br>
		<label class="col1">Zip Code</label>
		<input type="text" name="zip" class="full"><br>
		<label class="col1">Country</label>
		<input type="text" name="country" class="full">


	</div>
	<div  class="col">
		<div class="header"><label>Billing</label><hr></div>	
		<div class="checkbox"><input type="checkbox"></input><label for="cbox2">Same as shipping address</label></div>
		
		<div class="col1"><label>First Name</label></div>
		<div class="col1"><label>Last Name</label></div><br>
		<input type="text" name="first-name" class="col1">
		<input type="text" name="last-name" class="col1"><br><br><br><br>
		<label class="col1">Street Address</label>
	 	<input type="text" name="street" class="full"><br>
	 	<label class="col1">City</label>
		<input type="text" name="city" class="full"><br>
		<label  class="col1">Zip Code</label>
		<input type="text" name="zip" class="full"><br>
		<label  class="col1">Country</label>
		<input type="text" name="country" class="full">
	</div>
	<button type="submit">Continue</button>
</body>
</html>