<html>
<head>
<title>Slider</title>
<link href="slider.css" src="text/css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<header>Color Picker</header>
		<hr/>
		<label>Green</label>
		<div>
			<input type="range" min=0 max=255 step=5/>
		</div>
		<label>Red</label>
		<div>
			<input type="range" min=0 max=255 step=5/>
		</div>
		<label>Blue</label>
		<div>
			<input type="range" min=0 max=255 step=5/>
		</div>
		<label>Alpha</label>
		<div>
			<input type="range" min=0 max=255 step=5/>
		</div>
		<label>Color</label>
		<div>
			<input type="input"/>
		</div>
	</div>
</body>
</html>