
.container {
	top: 9%;
	position: relative;
	left: 33%;
	width: 500px;
 	text-align: center;
}

.mainHeader {
	color: white;
	font-size: 20px;
	padding: 2px;
}


body {
   background-color: gray;
   overflow: hidden;
}

.col {
	float: left;
	width: 100%;
	background: #FFFFFF;
	height: 460px;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
}

.background-white {
	background: #FFFFFF;
}

.full {
	width: 98%;
	display: block;
	box-sizing: border-box;
}

hr {
	border: 1px inset purple;
}


.margin-bottom-25 {
	margin-bottom: 25px
}

.col1 {
	width: 32%;
	float: left;
	text-align: left;
}

input {
	margin-right: 5px;
	padding: 3px;
}

button {
	width: 180px;
	height: 30px;
	color: white;
	background-color: purple;
}

label {
	color: purple;
}

button:hover {
	color: white;
	background-color: orange;
}

input, textarea, select {
	border: 1px solid purple;
}