<html>
<head>
<link rel="stylesheet" href="Search.css" src="text/css"/>
</head>
<body>
	<div class="form">
	<label> Search by - Name / Category </label><br/>
	<input type="text" placeholder="Enter your text"/>
	<span class="select">
		<select name="" id="">
			<option value="" selected disabled>Category</option>
			<option value="">Books</option>
			<option value="">Televion Shows</option>
			<option value="">Cards</option>
			<option value="">Countries</option>
		</select>
	</span>
	<button type="submit">Search</button>
	</div>
</body>
</html>