<html>
<head>
	<title>Shipping & Billing</title>
	<link href="CreditCard.css" src="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="container">
	<div  class="col">
		<div class="mainHeader"><label>Payment Gateway</label><hr></div><br>
		<div class="col1 width-45per"><label>Card Number</label></div>
		<div class="col1 width-18per"><label>CVV</label></div>
		<div class="col1 margin-left-10 width-32per"><label>Exp date</label></div><br>
		<input type="text" name="cardnumber" class="col1 width-45per" placeholder="xxxx-xxxx-xxxx-xxxx">
		<input type="text" name="cvv" class="col1 width-18per" placeholder="xxx">
		<select class="col1 dropdown  margin-left-5 width-32per">
		  <option value="select">Year</option>
		  <option value="2016">2016</option>
		  <option value="2017">2017</option>
		  <option value="2018">2018</option>
		  <option value="2019">2019</option>
		  <option value="2020">2020</option>
		  <option value="2021">2021</option>
		  <option value="2022">2022</option>
		  <option value="2023">2023</option>
		  <option value="2024">2024</option>
		  <option value="2025">2025</option>
		  <option value="2026">2026</option>
		  <option value="2027">2027</option>
		  <option value="2028">2028</option>
		  <option value="2029">2029</option>
		  <option value="2030">2030</option>
		  <option value="2031">2031</option>
		</select>
		<select class="col1 dropdown  margin-left-5 width-32per">
		  <option value="select">Month</option>
		  <option value="01">01</option>
		  <option value="02">02</option>
		  <option value="03">03</option>
		  <option value="04">04</option>
		  <option value="05">05</option>
		  <option value="06">06</option>
		  <option value="07">07</option>
		  <option value="08">08</option>
		  <option value="09">09</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		</select>
		<br><br>
		<label class="col1">Name on Card</label>
	 	<input type="text" name="fullname" class="full"><br>
	</div>
	<button type="submit">Schedule</button>
</body>
</html>